*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

section{
    margin: 0px 300px 180px 300px;
}

.section-title{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
}

.section-desc{
    margin-bottom: 20px;
    line-height: 26px;
}

.section-desc, .section-desc-point{
    color: #444343;
}

/* BANNER STYLES */

.banner{
    background-image: url('../images/banner/banner3.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
    margin-bottom: 180px;
}

.banner .banner-title{
    font-weight: 700;
    font-size: 70px;
    color: #FFFFFF;
}

.banner .banner-content{
    text-align: right;
    padding: 200px 250px 0 0;
}

.banner .banner-content .banner-desc{

    margin:30px 0 30px 1200px;
    color: beige;
}

.banner .banner-content .banner-button{
    height: 64px;
    width: 160px;
    padding: 20px 25px;
    font-size: 20px;
    font-weight: 600px;
    color: #2e4695;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.banner-desc{
    font-size: 18px;
}

/* MY FAILURES SECTION */

.failures{
    display: flex;
}

.failures-image{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.failures-discussion{
    margin: auto;
    padding: 0 150px 0 150px;
}

.fa-check{
    color: green;
}

.section-desc-point{
    margin-bottom: 10px;
}

.section-desc-point .fa-check{
    margin-right: 12px;
}

/* MY PLANS SECTION */

.my-plans .section-title{
    text-align: center;
    margin-bottom: 50px;
}

.my-all-plans{
    display: flex;
    justify-content: space-between;
}

.plan{
    text-align: center;
}

.plan-title{
    font-size: 20px;
    font-weight: 700px;
}

.plan-title{
    margin-top: 20px;
    margin-bottom: 20px;
}

.plan-title, .plan-desc{
    text-align: center;
}

/* DETERMINATION SECTION */

.my-determination{
    display: flex;
    justify-content: space-around;
    gap: 150px;
}

.determination-module{
    margin: auto;
}

.determination-image img{
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}

/* CONTACT BANNER */

.contact-banner{
    background: linear-gradient(to right, #005FAC 0%, rgba(0, 95, 172, 0) 100%), url(../images/watch.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0 100px 70px;
    color: #FFFFFF;
}

/* FOOTER STYLE */

footer{
    display: flex;
    justify-content: space-between;
    background: #000000;
    color: #FFFFFF;
    padding: 120px 100px 120px 100px;
}

.contact{
    width: 500px;
    margin-left: 200px;
}

.email{
    margin-top: 25px;
    margin-bottom: 25px;
}

.social-media-logo{
    margin-top: 25px;
}

.social-media-logo img{
    margin-right: 20px;
}

.subscription{
    margin-right: 200px;
}

.subscription form{
    display: flex;
    flex-direction: column;
}

.subscription input[type="email"]{
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    padding-left: 20px;
    font-size: 15px;
    width: 325px;
    height: 64px;
    background-color: #000000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.subscription input[type="button"]{
    background: #2e4695;
    color: #FFFFFF;
    height: 64px;
    width: 170px;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}